



.weather-app {
width: 96%;
margin: auto;
height: 650px;
  padding: 20px;
  background-color: rgb(138, 138, 228);
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.weather-search {
  margin-bottom: 20px;
}
.weatherapp{
  color: rgb(232, 232, 237);
}
.weather-search input[type="text"] {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.weather-search button {
  padding: 8px 20px;
  background-color: #25c9f1;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.weather-info h2{
  color: white;
}
.weather-search button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  font-weight: bold;
}

.weather-info {
  margin-top: 20px;
}

.weather-info h2 {
  font-size: 24px;
}

.weather-info p {
  font-size: 18px;
}
